body{
	background-color: black;
}

a{
	color: white;
	text-decoration:none;
	font-weight: bold;
	font-size: 20px;
	padding: 25%;
	border-color: white;
	border-style: solid;
	transition: 2s ;

}

a:hover{
	color: black;
	text-decoration:none;
	font-weight: bold;
	font-size: 20px;
	padding: 25%;
	border-color: white;
	background-color: white;
	transform:translateX(60px);

}


.animation{

	display: flex;
	justify-content: center;
	/*border: solid;
	border-color: black;*/
	padding: 50px;
	margin-left: 35%;
	margin-right:35%;
	margin-top: 15%;
	transition: 2s ;



}

.animation:hover{

	display: flex;
	justify-content: center;
	/*border: solid;
	border-color: white;*/
	padding: 50px;
	margin-left: 35%;
	margin-right:35%;
	margin-top: 15%;
	transform:translateX(60px);


	

}

